# Classification

Classification is the process responsible for categorizing a given data to a class/category. It is often described as the task of finding a function that yields the best results to map an input value X to a class representing the output Y. In order to achieve the desired function, the classifier uses some training data to extract patterns to be used for classifying. For this project, classification is one of two steps (classification and ranking) to decide which student is approved or reject to participate in Hackaton USP.

# Regression

Differently than Classification, Regression is a method that predicts a continuous output.  In summary, given an input data X, a Regression algorithm would process it to predict a continuous/real output. It is also a supervised technique and more suitable for the purpose of this project. Using regression models, it is possible to predict a real number representing the score of a person, which will be used to create the ranking.

## Logistic Regression

As a regression algorithm, the Logistic Regression uses the statistical model based on logistic function in order to predict the value of a categorical dependent variable. The idea is not to rank the registration of the candidates, just to classify the candidates that were selected to the HackathonUSP or not. In this case, the Binary Logistic Regression will be used once the student can be IN or OUT of the HackathonUSP in a specific edition.

In [98]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix

In [99]:
registrations = pd.read_csv('data/AllRegistrationsFile.csv', delimiter=',')
registrations

,Datetime,Edition,id,IsSelected,Gender,College,StudentProgram,GraduationYear,NHackathon,Role,HasTeam,TeamMembers,TeamId,TeamSize
0,09/08/2016 19:55:46,2016.1,46,S,F,IME,Bacharelado em Ciência da Computação,1,0,Desenvolvedor,Não,"46, 56, 309, 483",54,4
1,09/08/2016 20:24:09,2016.1,309,S,M,IME,Bacharelado em Ciência da Computação,1,0,Nenhuma,Não,"46, 56, 309, 483",54,4
2,09/08/2016 22:57:08,2016.1,56,S,M,IME,Bacharelado em Ciência da Computação,1,0,Desenvolvedor,Sim,"46, 56, 309, 483",54,4
3,18/08/2016 22:49:37,2016.1,47,S,F,Não USP,NaN,NaN,0,Desenvolvedor,Não,NaN,0,1
4,19/08/2016 21:47:33,2016.1,35,S,M,Não USP,NaN,NaN,0,Desenvolvedor,Não,NaN,0,1
5,23/08/2016 09:44:28,2016.1,483,S,M,IME,Matemática Aplicada,1,0,Desenvolvedor,Sim,"46, 56, 309, 483",54,4
6,24/07/2016 20:53:04,2016.1,227,S,M,IME,Bacharelado em Ciência da Computação,2,2,Desenvolvedor,Sim,"227, 303, 339, 402",31,4
7,24/07/2016 21:01:17,2016.1,342,S,M,IME,Bacharelado em Ciência da Computação,2,5,Desenvolvedor,Sim,"332, 342, 511, 513",47,4
8,24/07/2016 21:01:24,2016.1,438,S,M,Poli,Engenharia da Computação,5,0,Desenvolvedor,Não,NaN,0,1
9,24/07/2016 21:01:25,2016.1,513,S,M,IME,Bacharelado em Ciência da Computação,3,1,Desenvolvedor,Sim,"332, 342, 511, 513",47,4
10,24/07/2016 21:01:33,2016.1,197,S,M,Poli,Engenharia Elétrica,2,0,Desenvolvedor,Sim,"112, 197,341, 364",7,4
11,24/07/2016 21:01:55,2016.1,93,S,M,Poli,Engenharia da Computação,5,0,Desenvolvedor,Não,NaN,0,1
12,24/07/2016 21:01:57,2016.1,206,S,M,Não USP,NaN,NaN,1,Desenvolvedor,Não,NaN,0,1
13,24/07/2016 21:02:00,2016.1,333,S,M,Não USP,NaN,NaN,0,Desenvolvedor,Não,NaN,0,1
14,24/07/2016 21:02:07,2016.1,92,S,F,Não USP,NaN,NaN,0,Empreendedor/Negócios,Não,NaN,0,1
15,24/07/2016 21:02:17,2016.1,341,S,M,Poli,Engenharia Elétrica,2,2,Desenvolvedor,Sim,"112, 197,341, 364",7,4
16,24/07/2016 21:02:41,2016.1,511,S,M,IME,Bacharelado em Ciência da Computação,2,2,Desenvolvedor,Não,"332, 342, 511, 513",47,4
17,24/07/2016 21:02:44,2016.1,232,S,M,EACH,Bacharelado em Sistemas de Informação,4,0,Desenvolvedor,Sim,"171, 183, 230, 232",22,4
18,24/07/2016 21:02:47,2016.1,329,S,M,Não USP,NaN,NaN,2,Desenvolvedor,Não,NaN,0,1
19,24/07/2016 21:02:48,2016.1,77,S,M,Não USP,NaN,NaN,0,Desenvolvedor,Não,NaN,0,1
20,24/07/2016 21:02:53,2016.1,507,S,F,FAU,Bacharelado em Design,5,1,Desenvolvedor,Sim,"159, 507",18,2
21,24/07/2016 21:03:00,2016.1,40,S,M,Poli,Engenharia Elétrica,1,0,Desenvolvedor,Não,NaN,0,1
22,24/07/2016 21:03:06,2016.1,3,S,M,Poli,Engenharia da Computação,5,1,Desenvolvedor,Sim,"1, 156, 269, 459",1,4
23,24/07/2016 21:03:11,2016.1,51,S,M,IME,Bacharelado em Ciência da Computação,1,1,Desenvolvedor,Sim,"51, 241, 519",56,3
24,24/07/2016 21:03:16,2016.1,416,S,M,Não USP,NaN,NaN,1,Desenvolvedor,Não,NaN,0,1
25,24/07/2016 21:03:18,2016.1,250,S,F,Poli,Engenharia Elétrica,1,0,Desenvolvedor,Sim,"18, 250, 313, 340",23,4
26,24/07/2016 21:03:19,2016.1,402,S,M,IME,Bacharelado em Ciência da Computação,2,1,Desenvolvedor,Sim,"227, 303, 339, 402",31,4
27,24/07/2016 21:03:25,2016.1,269,S,M,Poli,Engenharia da Computação,5,2,Desenvolvedor,Sim,"1, 156, 269, 459",1,4
28,24/07/2016 21:03:29,2016.1,159,S,M,IME,Bacharelado em Ciência da Computação,5,1,Desenvolvedor,Sim,"159, 507",18,2
29,24/07/2016 21:03:35,2016.1,369,S,F,Poli,Engenharia Civil,1,0,Empreendedor/Negócios,Não,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,19/05/2018 22:06:06,2018.1,142,N,M,IME,Pós-graduação em Ciência da Computação,Pós-graduação,0,Desenvolvedor,Sim,"115, 142, 298, 301",8,4
1275,20/05/2018 00:17:41,2018.1,157,N,M,EACH,Bacharelado em Sistemas de Informação,1,0,Desenvolvedor,Não,NaN,0,1
1276,20/05/2018 01:42:01,2018.1,134,N,M,EACH,Bacharelado em Sistemas de Informação,1,0,Cientista de Dados,Não,NaN,0,1
1277,20/05/2018 07:43:16,2018.1,80,N,M,Poli,Engenharia Elétrica,5,0,Cientista de Dados,Não,NaN,0,1
1278,20/05/2018 09:28:51,2018.1,242,N,M,ICMC,Bacharelado em Ciência da Computação,3,1,Desenvolvedor,Não,"53, 58, 242",65,3
1279,20/05/2018 12:16:26,2018.1,32,N,M,IME,Bacharelado em Matemática Aplicada e Computaci...,1,0,Designer,Sim,"32, 104, 226, 341",49,4
1280,20/05/2018 12:22:07,2018.1,58,N,M,EESC,Engenharia da Computação,5,5,Cientista de Dados,Sim,"53, 58, 242",65,3
1281,20/05/2018 13:27:07,2018.1,53,N,M,ICMC,Bacharelado em Ciência da Computação,3,0,Cientista de Dados,Sim,"53, 58, 242",65,3
1282,20/05/2018 14:55:18,2018.1,226,N,M,IME,Bacharelado em Matemática Aplicada e Computaci...,1,0,Nenhuma,Sim,"32, 104, 226, 341",49,4
1283,20/05/2018 18:52:54,2018.1,231,N,F,Poli,Engenharia Elétrica,5,0,Desenvolvedor,Sim,"123, 194, 231",13,3
1284,20/05/2018 19:00:20,2018.1,83,N,M,IME,Bacharelado em Ciência da Computação,2,0,Desenvolvedor,Não,"19, 354, 83",30,3
1285,20/05/2018 19:12:07,2018.1,19,N,M,IME,Bacharelado em Ciência da Computação,2,1,Desenvolvedor,Sim,"19, 354, 83",30,3
1286,20/05/2018 20:34:26,2018.1,21,N,M,FAU,Design,3,0,Negócios,Sim,"21, 71, 211, 235",34,4
1287,20/05/2018 20:35:19,2018.1,291,N,M,FMRP,Informática Biomédica,1,0,Desenvolvedor,Sim,NaN,0,1
1288,20/05/2018 20:40:07,2018.1,209,N,F,ICB,NaN,3,0,Nenhuma,Sim,"203, 209",32,2
1289,20/05/2018 20:47:44,2018.1,77,N,F,FD,Direito,1,0,Negócios,Não,NaN,0,1
1290,20/05/2018 21:21:26,2018.1,2,N,M,EACH,Bacharelado em Sistemas de Informação,3,1,Desenvolvedor,Sim,"2, 200, 330",31,3
1291,20/05/2018 21:24:38,2018.1,330,N,M,EACH,Bacharelado em Sistemas de Informação,Pós-graduação,5,Desenvolvedor,Sim,"2, 200, 330",31,3
1292,20/05/2018 21:24:39,2018.1,200,N,M,EACH,Bacharelado em Sistemas de Informação,5,0,Desenvolvedor,Sim,"2, 200, 330",31,3
1293,20/05/2018 21:58:13,2018.1,203,N,M,Poli,Engenharia Elétrica,3,0,Desenvolvedor,Sim,"203, 209",32,2
1294,20/05/2018 22:04:38,2018.1,271,N,M,ECA,Música,5,0,Cientista de Dados,Não,NaN,0,1
1295,20/05/2018 22:04:53,2018.1,344,N,M,EACH,Bacharelado em Sistemas de Informação,1,0,Desenvolvedor,Não,NaN,0,1
1296,20/05/2018 22:15:02,2018.1,267,N,M,ICB,Ciencias Biomédicas,1,0,Nenhuma,Sim,NaN,0,1
1297,20/05/2018 22:15:26,2018.1,63,N,M,EACH,Bacharelado em Sistemas de Informação,2,0,Desenvolvedor,Não,NaN,0,1
1298,20/05/2018 22:15:57,2018.1,24,N,M,Poli,Engenharia Civil,4,0,Negócios,Sim,"24, 63",39,2
1299,20/05/2018 22:27:37,2018.1,156,N,M,IME,Bacharelado em Ciência da Computação,2,1,Desenvolvedor,Não,NaN,0,1
1300,20/05/2018 23:36:02,2018.1,354,N,M,IME,Bacharelado em Ciência da Computação,2,1,Cientista de Dados,Sim,"19, 354, 83",30,3
1301,21/05/2018 01:52:40,2018.1,238,N,F,FAU,Design,4,0,Designer,Sim,"40, 238",55,2
1302,21/05/2018 10:09:32,2018.1,241,N,F,EACH,Bacharelado em Sistemas de Informação,3,0,Desenvolvedor,Não,NaN,0,1
1303,21/05/2018 11:53:56,2018.1,110,N,M,Poli,Engenharia da Computação,5,2,Desenvolvedor,Não,"103, 110",4,2

In [100]:
# Using LabelEncoder to convert categorical variables to numerical
categorical_variables = ('Edition','Gender','College','StudentProgram','Role','HasTeam','GraduationYear')
for variable in categorical_variables:
    # creating instance of labelencoder
    labelencoder = LabelEncoder()
    # Assigning numerical values and storing in another column
    registrations[variable] = labelencoder.fit_transform(registrations[variable])
registrations

,Datetime,Edition,id,IsSelected,Gender,College,StudentProgram,GraduationYear,NHackathon,Role,HasTeam,TeamMembers,TeamId,TeamSize
0,09/08/2016 19:55:46,0,46,S,1,22,8,1,0,5,0,"46, 56, 309, 483",54,4
1,09/08/2016 20:24:09,0,309,S,2,22,8,1,0,20,0,"46, 56, 309, 483",54,4
2,09/08/2016 22:57:08,0,56,S,2,22,8,1,0,5,1,"46, 56, 309, 483",54,4
3,18/08/2016 22:49:37,0,47,S,1,25,0,0,0,5,0,NaN,0,1
4,19/08/2016 21:47:33,0,35,S,2,25,0,0,0,5,0,NaN,0,1
5,23/08/2016 09:44:28,0,483,S,2,22,93,1,0,5,1,"46, 56, 309, 483",54,4
6,24/07/2016 20:53:04,0,227,S,2,22,8,2,2,5,1,"227, 303, 339, 402",31,4
7,24/07/2016 21:01:17,0,342,S,2,22,8,2,5,5,1,"332, 342, 511, 513",47,4
8,24/07/2016 21:01:24,0,438,S,2,26,59,5,0,5,0,NaN,0,1
9,24/07/2016 21:01:25,0,513,S,2,22,8,3,1,5,1,"332, 342, 511, 513",47,4
10,24/07/2016 21:01:33,0,197,S,2,26,50,2,0,5,1,"112, 197,341, 364",7,4
11,24/07/2016 21:01:55,0,93,S,2,26,59,5,0,5,0,NaN,0,1
12,24/07/2016 21:01:57,0,206,S,2,25,0,0,1,5,0,NaN,0,1
13,24/07/2016 21:02:00,0,333,S,2,25,0,0,0,5,0,NaN,0,1
14,24/07/2016 21:02:07,0,92,S,1,25,0,0,0,10,0,NaN,0,1
15,24/07/2016 21:02:17,0,341,S,2,26,50,2,2,5,1,"112, 197,341, 364",7,4
16,24/07/2016 21:02:41,0,511,S,2,22,8,2,2,5,0,"332, 342, 511, 513",47,4
17,24/07/2016 21:02:44,0,232,S,2,1,27,4,0,5,1,"171, 183, 230, 232",22,4
18,24/07/2016 21:02:47,0,329,S,2,25,0,0,2,5,0,NaN,0,1
19,24/07/2016 21:02:48,0,77,S,2,25,0,0,0,5,0,NaN,0,1
20,24/07/2016 21:02:53,0,507,S,1,6,12,5,1,5,1,"159, 507",18,2
21,24/07/2016 21:03:00,0,40,S,2,26,50,1,0,5,0,NaN,0,1
22,24/07/2016 21:03:06,0,3,S,2,26,59,5,1,5,1,"1, 156, 269, 459",1,4
23,24/07/2016 21:03:11,0,51,S,2,22,8,1,1,5,1,"51, 241, 519",56,3
24,24/07/2016 21:03:16,0,416,S,2,25,0,0,1,5,0,NaN,0,1
25,24/07/2016 21:03:18,0,250,S,1,26,50,1,0,5,1,"18, 250, 313, 340",23,4
26,24/07/2016 21:03:19,0,402,S,2,22,8,2,1,5,1,"227, 303, 339, 402",31,4
27,24/07/2016 21:03:25,0,269,S,2,26,59,5,2,5,1,"1, 156, 269, 459",1,4
28,24/07/2016 21:03:29,0,159,S,2,22,8,5,1,5,1,"159, 507",18,2
29,24/07/2016 21:03:35,0,369,S,1,26,49,1,0,10,0,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1274,19/05/2018 22:06:06,4,142,N,2,22,115,9,0,5,1,"115, 142, 298, 301",8,4
1275,20/05/2018 00:17:41,4,157,N,2,1,27,1,0,5,0,NaN,0,1
1276,20/05/2018 01:42:01,4,134,N,2,1,27,1,0,2,0,NaN,0,1
1277,20/05/2018 07:43:16,4,80,N,2,26,50,5,0,2,0,NaN,0,1
1278,20/05/2018 09:28:51,4,242,N,2,19,8,3,1,5,0,"53, 58, 242",65,3
1279,20/05/2018 12:16:26,4,32,N,2,22,24,1,0,8,1,"32, 104, 226, 341",49,4
1280,20/05/2018 12:22:07,4,58,N,2,4,59,5,5,2,1,"53, 58, 242",65,3
1281,20/05/2018 13:27:07,4,53,N,2,19,8,3,0,2,1,"53, 58, 242",65,3
1282,20/05/2018 14:55:18,4,226,N,2,22,24,1,0,20,1,"32, 104, 226, 341",49,4
1283,20/05/2018 18:52:54,4,231,N,1,26,50,5,0,5,1,"123, 194, 231",13,3
1284,20/05/2018 19:00:20,4,83,N,2,22,8,2,0,5,0,"19, 354, 83",30,3
1285,20/05/2018 19:12:07,4,19,N,2,22,8,2,1,5,1,"19, 354, 83",30,3
1286,20/05/2018 20:34:26,4,21,N,2,6,36,3,0,18,1,"21, 71, 211, 235",34,4
1287,20/05/2018 20:35:19,4,291,N,2,13,83,1,0,5,1,NaN,0,1
1288,20/05/2018 20:40:07,4,209,N,1,18,0,3,0,20,1,"203, 209",32,2
1289,20/05/2018 20:47:44,4,77,N,1,8,37,1,0,18,0,NaN,0,1
1290,20/05/2018 21:21:26,4,2,N,2,1,27,3,1,5,1,"2, 200, 330",31,3
1291,20/05/2018 21:24:38,4,330,N,2,1,27,9,5,5,1,"2, 200, 330",31,3
1292,20/05/2018 21:24:39,4,200,N,2,1,27,5,0,5,1,"2, 200, 330",31,3
1293,20/05/2018 21:58:13,4,203,N,2,26,50,3,0,5,1,"203, 209",32,2
1294,20/05/2018 22:04:38,4,271,N,2,2,103,5,0,2,0,NaN,0,1
1295,20/05/2018 22:04:53,4,344,N,2,1,27,1,0,5,0,NaN,0,1
1296,20/05/2018 22:15:02,4,267,N,2,18,29,1,0,20,1,NaN,0,1
1297,20/05/2018 22:15:26,4,63,N,2,1,27,2,0,5,0,NaN,0,1
1298,20/05/2018 22:15:57,4,24,N,2,26,49,4,0,18,1,"24, 63",39,2
1299,20/05/2018 22:27:37,4,156,N,2,22,8,2,1,5,0,NaN,0,1
1300,20/05/2018 23:36:02,4,354,N,2,22,8,2,1,2,1,"19, 354, 83",30,3
1301,21/05/2018 01:52:40,4,238,N,1,6,36,4,0,8,1,"40, 238",55,2
1302,21/05/2018 10:09:32,4,241,N,1,1,27,3,0,5,0,NaN,0,1
1303,21/05/2018 11:53:56,4,110,N,2,26,59,5,2,5,0,"103, 110",4,2

In [101]:
registrations['Datetime'] = pd.to_datetime(registrations['Datetime'], utc='true')
registrations['Datetime']

0      2016-09-08 19:55:46+00:00
1      2016-09-08 20:24:09+00:00
2      2016-09-08 22:57:08+00:00
3      2016-08-18 22:49:37+00:00
4      2016-08-19 21:47:33+00:00
5      2016-08-23 09:44:28+00:00
6      2016-07-24 20:53:04+00:00
7      2016-07-24 21:01:17+00:00
8      2016-07-24 21:01:24+00:00
9      2016-07-24 21:01:25+00:00
10     2016-07-24 21:01:33+00:00
11     2016-07-24 21:01:55+00:00
12     2016-07-24 21:01:57+00:00
13     2016-07-24 21:02:00+00:00
14     2016-07-24 21:02:07+00:00
15     2016-07-24 21:02:17+00:00
16     2016-07-24 21:02:41+00:00
17     2016-07-24 21:02:44+00:00
18     2016-07-24 21:02:47+00:00
19     2016-07-24 21:02:48+00:00
20     2016-07-24 21:02:53+00:00
21     2016-07-24 21:03:00+00:00
22     2016-07-24 21:03:06+00:00
23     2016-07-24 21:03:11+00:00
24     2016-07-24 21:03:16+00:00
25     2016-07-24 21:03:18+00:00
26     2016-07-24 21:03:19+00:00
27     2016-07-24 21:03:25+00:00
28     2016-07-24 21:03:29+00:00
29     2016-07-24 21:03:35+00:00
                  ...
1274   2018-05-19 22:06:06+00:00
1275   2018-05-20 00:17:41+00:00
1276   2018-05-20 01:42:01+00:00
1277   2018-05-20 07:43:16+00:00
1278   2018-05-20 09:28:51+00:00
1279   2018-05-20 12:16:26+00:00
1280   2018-05-20 12:22:07+00:00
1281   2018-05-20 13:27:07+00:00
1282   2018-05-20 14:55:18+00:00
1283   2018-05-20 18:52:54+00:00
1284   2018-05-20 19:00:20+00:00
1285   2018-05-20 19:12:07+00:00
1286   2018-05-20 20:34:26+00:00
1287   2018-05-20 20:35:19+00:00
1288   2018-05-20 20:40:07+00:00
1289   2018-05-20 20:47:44+00:00
1290   2018-05-20 21:21:26+00:00
1291   2018-05-20 21:24:38+00:00
1292   2018-05-20 21:24:39+00:00
1293   2018-05-20 21:58:13+00:00
1294   2018-05-20 22:04:38+00:00
1295   2018-05-20 22:04:53+00:00
1296   2018-05-20 22:15:02+00:00
1297   2018-05-20 22:15:26+00:00
1298   2018-05-20 22:15:57+00:00
1299   2018-05-20 22:27:37+00:00
1300   2018-05-20 23:36:02+00:00
1301   2018-05-21 01:52:40+00:00
1302   2018-05-21 10:09:32+00:00
1303   2018-05-21 11:53:56+00:00
Name: Datetime, Length: 1304, dtype: datetime64[ns, UTC]

In [102]:
registrations['Datetime'] = registrations['Datetime'].astype(int).astype(float)
registrations['Datetime']

0       1.473365e+18
1       1.473366e+18
2       1.473375e+18
3       1.471561e+18
4       1.471643e+18
5       1.471945e+18
6       1.469394e+18
7       1.469394e+18
8       1.469394e+18
9       1.469394e+18
10      1.469394e+18
11      1.469394e+18
12      1.469394e+18
13      1.469394e+18
14      1.469394e+18
15      1.469394e+18
16      1.469394e+18
17      1.469394e+18
18      1.469394e+18
19      1.469394e+18
20      1.469394e+18
21      1.469394e+18
22      1.469394e+18
23      1.469394e+18
24      1.469394e+18
25      1.469394e+18
26      1.469394e+18
27      1.469394e+18
28      1.469394e+18
29      1.469394e+18
            ...
1274    1.526768e+18
1275    1.526775e+18
1276    1.526781e+18
1277    1.526802e+18
1278    1.526809e+18
1279    1.526819e+18
1280    1.526819e+18
1281    1.526823e+18
1282    1.526828e+18
1283    1.526842e+18
1284    1.526843e+18
1285    1.526844e+18
1286    1.526848e+18
1287    1.526849e+18
1288    1.526849e+18
1289    1.526849e+18
1290    1.526851e+18
1291    1.526851e+18
1292    1.526851e+18
1293    1.526853e+18
1294    1.526854e+18
1295    1.526854e+18
1296    1.526855e+18
1297    1.526855e+18
1298    1.526855e+18
1299    1.526855e+18
1300    1.526859e+18
1301    1.526868e+18
1302    1.526897e+18
1303    1.526904e+18
Name: Datetime, Length: 1304, dtype: float64

In [103]:
y = registrations['IsSelected']
x = registrations.drop('IsSelected', 1).drop('TeamMembers', 1).drop('TeamId', 1).drop('id', 1)
x

,Datetime,Edition,Gender,College,StudentProgram,GraduationYear,NHackathon,Role,HasTeam,TeamSize
0,1.473365e+18,0,1,22,8,1,0,5,0,4
1,1.473366e+18,0,2,22,8,1,0,20,0,4
2,1.473375e+18,0,2,22,8,1,0,5,1,4
3,1.471561e+18,0,1,25,0,0,0,5,0,1
4,1.471643e+18,0,2,25,0,0,0,5,0,1
5,1.471945e+18,0,2,22,93,1,0,5,1,4
6,1.469394e+18,0,2,22,8,2,2,5,1,4
7,1.469394e+18,0,2,22,8,2,5,5,1,4
8,1.469394e+18,0,2,26,59,5,0,5,0,1
9,1.469394e+18,0,2,22,8,3,1,5,1,4
10,1.469394e+18,0,2,26,50,2,0,5,1,4
11,1.469394e+18,0,2,26,59,5,0,5,0,1
12,1.469394e+18,0,2,25,0,0,1,5,0,1
13,1.469394e+18,0,2,25,0,0,0,5,0,1
14,1.469394e+18,0,1,25,0,0,0,10,0,1
15,1.469394e+18,0,2,26,50,2,2,5,1,4
16,1.469394e+18,0,2,22,8,2,2,5,0,4
17,1.469394e+18,0,2,1,27,4,0,5,1,4
18,1.469394e+18,0,2,25,0,0,2,5,0,1
19,1.469394e+18,0,2,25,0,0,0,5,0,1
20,1.469394e+18,0,1,6,12,5,1,5,1,2
21,1.469394e+18,0,2,26,50,1,0,5,0,1
22,1.469394e+18,0,2,26,59,5,1,5,1,4
23,1.469394e+18,0,2,22,8,1,1,5,1,3
24,1.469394e+18,0,2,25,0,0,1,5,0,1
25,1.469394e+18,0,1,26,50,1,0,5,1,4
26,1.469394e+18,0,2,22,8,2,1,5,1,4
27,1.469394e+18,0,2,26,59,5,2,5,1,4
28,1.469394e+18,0,2,22,8,5,1,5,1,2
29,1.469394e+18,0,1,26,49,1,0,10,0,1
...,...,...,...,...,...,...,...,...,...,...
1274,1.526768e+18,4,2,22,115,9,0,5,1,4
1275,1.526775e+18,4,2,1,27,1,0,5,0,1
1276,1.526781e+18,4,2,1,27,1,0,2,0,1
1277,1.526802e+18,4,2,26,50,5,0,2,0,1
1278,1.526809e+18,4,2,19,8,3,1,5,0,3
1279,1.526819e+18,4,2,22,24,1,0,8,1,4
1280,1.526819e+18,4,2,4,59,5,5,2,1,3
1281,1.526823e+18,4,2,19,8,3,0,2,1,3
1282,1.526828e+18,4,2,22,24,1,0,20,1,4
1283,1.526842e+18,4,1,26,50,5,0,5,1,3
1284,1.526843e+18,4,2,22,8,2,0,5,0,3
1285,1.526844e+18,4,2,22,8,2,1,5,1,3
1286,1.526848e+18,4,2,6,36,3,0,18,1,4
1287,1.526849e+18,4,2,13,83,1,0,5,1,1
1288,1.526849e+18,4,1,18,0,3,0,20,1,2
1289,1.526849e+18,4,1,8,37,1,0,18,0,1
1290,1.526851e+18,4,2,1,27,3,1,5,1,3
1291,1.526851e+18,4,2,1,27,9,5,5,1,3
1292,1.526851e+18,4,2,1,27,5,0,5,1,3
1293,1.526853e+18,4,2,26,50,3,0,5,1,2
1294,1.526854e+18,4,2,2,103,5,0,2,0,1
1295,1.526854e+18,4,2,1,27,1,0,5,0,1
1296,1.526855e+18,4,2,18,29,1,0,20,1,1
1297,1.526855e+18,4,2,1,27,2,0,5,0,1
1298,1.526855e+18,4,2,26,49,4,0,18,1,2
1299,1.526855e+18,4,2,22,8,2,1,5,0,1
1300,1.526859e+18,4,2,22,8,2,1,2,1,3
1301,1.526868e+18,4,1,6,36,4,0,8,1,2
1302,1.526897e+18,4,1,1,27,3,0,5,0,1
1303,1.526904e+18,4,2,26,59,5,2,5,0,2

In [104]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=0)
columns = x_train.columns
columns

Index([u'Datetime', u'Edition', u'Gender', u'College', u'StudentProgram',
       u'GraduationYear', u'NHackathon', u'Role', u'HasTeam', u'TeamSize'],
      dtype='object')

In [105]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [106]:
y_pred = logreg.predict(x_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(x_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.66

In [107]:
confusion_matrix = confusion_matrix(y_test, y_pred)
print(confusion_matrix)

[[258   0]
 [134   0]]

# Learning To Rank (LTR)

Learning To Rank is a specific technique to generate a ranked list of items. The idea is that LTR ignores the precision of a final score of each item, the final index is what matters. The input of this method is slightly different because there are a list of items and a list defining the index of each item. This method is the best fit for the purpose of this project and it generates the perfect output.

# Reference List

- https://towardsdatascience.com/machine-learning-classifiers-a5cc4e1b0623
- https://medium.com/@Mandysidana/machine-learning-types-of-classification-9497bd4f2e14
- https://www.geeksforgeeks.org/regression-classification-supervised-machine-learning/
- https://towardsdatascience.com/learning-to-rank-with-python-scikit-learn-327a5cfd81f
- https://medium.com/@nikhilbd/intuitive-explanation-of-learning-to-rank-and-ranknet-lambdarank-and-lambdamart-fe1e17fac418
- https://medium.com/datadriveninvestor/regression-in-machine-learning-296caae933ec
- https://towardsdatascience.com/logistic-regression-detailed-overview-46c4da4303bc
- https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8